CowSite/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3961/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3961/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3961/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetFeedInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedInfoList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFeedInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFeedCowInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedCowInfoList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetFeedCowInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedCowInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetjobInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetjobInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetjobInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetjobInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIngreForageInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngreForageInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIngreForageInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngreForageInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProcessList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProcessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetFeedInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFeedInfoList" message="tns:IService1_GetFeedInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFeedInfoListResponse" message="tns:IService1_GetFeedInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedCowInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetFeedCowInfoList" message="tns:IService1_GetFeedCowInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetFeedCowInfoListResponse" message="tns:IService1_GetFeedCowInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetjobInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetjobInfo" message="tns:IService1_GetjobInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetjobInfoResponse" message="tns:IService1_GetjobInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngreForageInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetIngreForageInfo" message="tns:IService1_GetIngreForageInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetIngreForageInfoResponse" message="tns:IService1_GetIngreForageInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProcessList" message="tns:IService1_GetProcessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProcessListResponse" message="tns:IService1_GetProcessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFeedInfoList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFeedInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedCowInfoList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetFeedCowInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetjobInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetjobInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngreForageInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetIngreForageInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProcessList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3961/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>